﻿@model MortgageCalculator.Models.MortgageInfo

@{
    ViewBag.Title = "Monthly Payment";
}

<h2>Monthly Payment</h2>

<div>
    <hr />
    <p>
        @Html.DisplayFor(model => model.MonthlyPaymentDescription)
     </p>
</div>
<p>
    @Html.ActionLink("Back to Calculator", "Index")
</p>
